@model IEnumerable<e_commerce.Models.Product>
@using System.Data
@{
    ViewBag.Title = @ViewBag.Title;

}


<script>

    function createProduct() {
        console.log("clicked");
        $("#fromCreateProduct").dialog({
            resizable: false,
            height: 500, // or auto, whichever is preferred
            width: 400,
            modal: true,
        });


    }

 

    function UpdateProduct() {
        console.log("clicked");
        $("#fromUpdateProduct").dialog({
            resizable: false,
            height: 500, // or auto, whichever is preferred
            width: 400,
            modal: true,
        });


    }

</script>

<h2>@ViewBag.Msz</h2>

<div class="table-responsive">
    <button class="btn btn-primary" onclick='return createProduct()' style="float:right;">+</button>
    <table class="table table-hover">



        <thead>
            @*<a style="float:right;" onclick="" class="btn btn-outline-primary" href="@Url.Action("create","Product")">Add</a>*@

            <tr>

                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Stock</td>
                        <td>@item.Quantity</td>
                        <td>
                            <a style="text-align:end;" class="btn btn-outline-primary" href="@Url.Action("Edit", "Product", new { id = @item.Id })">Edit</a>

                            <a style="text-align:end;" class="btn btn-outline-danger" href="@Url.Action("Delete","Product", new {id = item.Id})">Delete</a>

                        </td>



                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@Html.Partial("~/Views/Shared/_createProduct_from.cshtml")
